<div *ngIf = "selectedHero">
	<h2>My Heroes</h2>
		<ion-grid>
			<ion-row>
				<ion-col sizeXm = "0" sizeMd = "4">
				</ion-col>
				<ion-col class = "heroes" sizeXs = "12" sizeMd = "4" >
					<ion-item *ngFor="let hero of heroes">
						<a routerLink="/detail/{{hero.id}}">
							<span class="badge">{{hero.id}}</span> {{hero.name}}
						</a>
					</ion-item>
				</ion-col>
				<ion-col sizeXs = "0" sizeMd = "4">
				</ion-col>
			</ion-row>
		</ion-grid>

		<!--<app-hero-detail [hero] = "selectedHero"></app-hero-detail> !-->
	
	
</div>

